services:
    vertex-llm:
        image: sbilife/vertex-llm:latest
        restart: always
        env_file: .local/vertex-llm.env
        ports:
            - "11300:80"
            - "11301:81"
        volumes:
            - ./.local/service-key-for-vertex-ai.json:/usr/local/vertex-llm/service-key-for-vertex-ai.json
